  /*BOTON ROJO QUE VA EN WORDPRESS,❌❌❌ BORRAR DESPUES DE SUBIR CDN*/
  .btn-red-wp, a.btn-red-wp{
    width: 100%;
    margin: 4px 2px;
    border: none;
    font-size: 1rem;
    padding: var(--btn-padding-sm);
    color: rgba(var(--white), 1);
    background-color: rgba(var(--acento-red-dark-3), 1);
    transition: 0.3s;
    display: block;
    text-align: center;
    text-decoration: none;
  }
  
 @media only screen and (min-width: 576px) {
   .btn-red-wp, a.btn-red-wp{
        width: fit-content;
    }
}
  


  .btn-primary:hover {
    background-color: rgba(var(--base-blue-dark-3), 1);
  }
  
  .btn-primary:active {
    background-color: rgba(var(--base-blue-dark-4), 1);
  }
  
  .btn-primary:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(var(--yellow-focus), 1);
  }




  .btn-white-01, a.btn-white-01{
    width: 100%;
    margin: 4px 2px;
    border: none;
    font-size: 1rem;
    padding: var(--btn-padding-sm);
    color: rgba(var(--base-blue-dark-1), 1);
    background-color: white;
    transition: 0.3s;
    text-decoration: none;
  }

  @media only screen and (min-width: 576px) {
    .btn-white-01, a.btn-white-01 {
        width: fit-content;
    }
}
  
  .btn-white-01:hover {
    background-color: white;
    color: rgba(var(--base-blue-dark-3), 1);
  }
  
  .btn-white-01:active {
    background-color: white;
    color: rgba(var(--base-blue-dark-4), 1);
  }
  
  .btn-white-01:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(var(--yellow-focus), 1);
  }  

  /*CORREGIR EN KIT UI */

.btn-primary, a.btn-primary {
  width: 100%;
  margin: 2px;
  border: none;
  font-size: 1rem;
  padding: var(--btn-padding-sm);
  color: rgba(var(--white),1);
  background-color: rgba(var(--base-blue-dark-1),1);
  transition: .3s;
  text-align: center;
  display: block;
}

@media only screen and (min-width: 576px) {
   .btn-primary, a.btn-primary {
        width: fit-content;
    }
}
/*CORREGIR EN KIT UI */

/*BOTON ROJO QUE VA EN WORDPRESS,❌❌❌ BORRAR DESPUES DE SUBIR CDN*/


/*ESTE LINK TBN AGREGARLO A KIT UI*/
a.link-blue_01, button.link-blue_01 {
    color: rgba(var(--base-blue),1);
    font-size: var(--heading-small-mob);
    font-weight: 700;
 }

 a.link-blue_01:hover, button.link-blue_01:hover {
    color: rgba(var(--base-blue-dark-3),1);
    font-weight: 700;
 }

 a.link-blue_01:active, button.link-blue_01:active {
    color: rgba(var(--font-color),1);
 } 

 a.link-blue_01:focus, button.link-blue_01:focus {
   outline: none;
   background-color: rgba(var(--yellow-focus), 1);
   box-shadow: 0 0 0 3px rgba(var(--yellow-focus), 1);
   color: rgba(var(--font-color),1);
 } 

 a.link-blue_01:visited, button.link-blue_01:visited {
    color: rgba(var(--link-visited),1);
 }


@media only screen and (min-width: 768px) {
   a.link-blue_01 {
      font-size: var(--heading-small);
      margin: calc(var(--heading-small) * 1.4);
      display: block;
    }
}




/*ESTE LINK TBN AGREGARLO A KIT UI*/

.white-space-fix, button.white-space-fix , a.white-space-fix {
  white-space: nowrap!important;
}