
/*❇️❇️Estilos Footer Wordpress❇️❇️*/
footer.footer-wp {
    background: rgba(var(--base-blue-dark-4), 1);
    color: white;
    width: 100%;
  }
  
  .item-footer ul.list-footer {
    color: white;
  }
  
  .container-footer-wp {
    margin: 16px 0 0 0;
    padding:16px 48px;
  }
  
  footer .container-footer-wp a {
    color: white;
    text-decoration: none;
  }
  footer .container-footer-wp a:hover {
    text-decoration: underline;
  }
  
  footer .container-footer-wp a:hover img {
    opacity: 0.9;
    transition: ease-out 0.2s;
    -webkit-transform: translateY(-1px);
    transform: translateY(-2px);
  }
  
  .container-footer-wp h1 {
    color: white!important;
    margin: 0 0 16px 0;
    padding: 0;
    font-size: var(--font-size-h4-mob);
    font-family: var(--font-family-sans-slab);
    font-weight: 500;
  }
  
  @media screen and (min-width: 848px) {
    .container-footer-wp h1 {
      font-size: var(--font-size-h4);
    }
  }
  .container-footer-wp ul.list-footer {
    padding: 0;
    margin: 0;
    list-style: none;
    color: white;
  }
  .container-footer-wp ul.list-footer li {
    padding: 2px 0;
    color: black;
    margin: 0 0 0 18px;
    text-align: center;
  }
  
  @media screen and (min-width: 848px) {
    .container-footer-wp ul.list-footer li {
      text-align: left;
    }
  }
  
  .container-footer-wp ul.list-footer li a {
    text-decoration: none;
    color: white;
  }
  
  .container-footer-wp ul.list-footer li a:hover {
    text-decoration: underline;
  }
  .gap-20 {
    gap: 20px;
  }
  
  p.small-text a {
    font-size: var(--font-size-small);
    color: white;
    text-decoration: none;
  }
  
  .box-cont-footer {
    display: none;
  }
  
  @media screen and (min-width: 518px) {
    .box-cont-footer {
      display: block;
    }
  }
  
  @media screen and (min-width: 518px) {
    .box-cont-footer2 {
      display: none;
    }
  }
  
  /*INPUT FOOTER*/
  input.input-footer {
    background-color: white;
    border: none;
    border-radius:24px;
    padding: 0 10px;
    height: 38px;
    margin: 5px 0;
    width: 100%;
    background-image: url("../img/icon-mail-input.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 14px 12px;
    padding-left: 42px;
  }
  
  @media screen and (min-width: 767px) {
    .input.input-footer {
      width: fit-content;
    }
  }
  input:focus.input-footer {
    border: 3px solid var();
  }
  /*INPUT FOOTER*/
  
  /*❇️❇️Estilos Footer Wordpress ❇️❇️*/